input, select {
	border: none;
	color: $second_color;
	font-family: $first_font;
}

body {
	font-family: $first_font;
	background: $first_color;
	color: $second_color;
}

#container {
	width: 100%;
}

.header {
	width: 90%;
	height: 62px;
	padding: 5px 5%;
	border-bottom: 1px solid #5cadc6;
	background: $third_color;
}

h1 {
	input {
		width: 100%;
		height: 62px;
		padding: 0;
		background: $third_color;
		font-size: 24px;
		text-transform: capitalize;
	}
}

#container.show_exercise,
#container.new_exercise {
	p.more {
		display: none;
		position: absolute;
	}

	section {
		position: relative;
		width: 90%;
		height: 100px;
		padding: 5px 5%;
		background: image_url("two-tone-rule-short.png") right bottom no-repeat;
		
		p {
			float: left;
			width: 50%;
			margin-top: 21px;
			font-size: 24px;
			text-transform: uppercase;
			
			&.single_line {
				margin-top: 37px;
			}
		}
		
		.value_field {
			position: absolute;
			right: 0;
			top: 10px;
			width: 50%;
			
			input, select {
				position: absolute;
				right: 75px;
				top: 18px;
				width: 90px;
				height: 65px;
				padding: 0;
				color: $second_color;
				background: $first_color;
				font-size: 60px;
				text-align: right;
			}
			
			select {
				top: 12px;
				right: 55px;
			}
			
			button {
				@extend .hide_text;
				position: absolute;
				right: 20px;
				width: 38px;
				height: 38px;
				border: none;
				background: image_url("icons.png") no-repeat;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				&.up {
					background-position: left top;
					top: 0;
				}
				
				&.down {
					background-position: -49px top;
					top: 50px;
				}
			}
		}
	}
	
	#action_buttons {
		float: left;
		width: 100%;
		margin: 20px 0;
		
		a, input[type="submit"] {
			float: left;
			display: block;
			width: 60px;
			height: 15px;
			padding-top: 40px;
			margin-left: 15px;
			color: $second_color;
			background: image_url("icons.png") no-repeat;
			font-size: 16px;
			text-align: center;
			text-transform: uppercase;
		}
		
		#delete, #cancel {
			background-position: 10px -45px;
		}
		
		#home {
			background-position: -56px -45px;
		}
		
		#new {
			background-position: -127px -45px;
		}
		
		input[type="submit"] {
			float: right;
			height: 55px;
			margin-right: 20px;
			background-position: -199px -45px;
		}
	}
}

#container.index {
	h1 {
		position: relative;
		width: 90%;
		height: 62px;
		line-height: 62px;
		padding: 0 5%;
		background: $third_color;
		font-size: 30px;
	}
	
	#new {
		@extend .hide_text;
		display: block;
		position: absolute;
		right: 5%;
		top: 10px;
		width: 60px;
		height: 15px;
		padding-top: 40px;
		background: image_url("icons.png") -127px -45px no-repeat;
		opacity: 0.5;
	}
	
	ul {
		&.exercises {
			li {
				width: 90%;
				height: 45px;
				margin: 0 5%;
				line-height: 45px;
				list-style: none;
				background: image_url("two-tone-rule-short.png") left bottom repeat-x;
				font-size: 20px;
				text-transform: uppercase;
				
				a {
					display: block;
					padding-left: 32px;
					background: image_url("icons.png") -150px 13px no-repeat;
					color: $second_color;
				}
			}
		}
	}
}






























