html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{ margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; font-weight: normal; font-style: normal; }
strong { font-weight: 700; }
section, header, footer { display: block; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: pink; }
a:active, a:focus { outline: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
input, text-area, select { -webkit-appearance: none; }
a, button, input { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.hide_text { text-indent: 200%; white-space: nowrap; overflow: hidden; }