<div id="container" class="index">
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<h1>Exercises</h1>
	<%= link_to "New", new_exercise_path %>
	<% if @exercises.count != 0 %>
		<ul class="exercises">
			<% @exercises.each do |exercise| %>
				<li><%= link_to "#{ exercise.name }", exercise_path(exercise) %></li>
			<% end %>
		</ul>
	<% else %>
		<p>No exercises to display.</p>
	<% end %>
</div>